





/* START OF STYLING CODING */





/* MISC CODING */

.title{
    text-align: center;
}

.darkmode{
    background-color: white;
    color: #4fb553;
    /* this code centers the button */
    margin: 0;
    position: absolute;
    left: 80%;
}
/* END OF MISC CODING */









/* END OF STYLING CODING */