/* START OF STYLING CODING */
html{
font-family: sans-serif;
}


/* MISC CODING */

.title{
    text-align: center;
}

.darkmode{
    background-color: #3a3a3a;
    color: #ffffff;
    border-color: #3a3a3a ;
    /* this code centers the button */
    margin: 0;
    position: absolute;
    left: 80%;
    top: 150px;
    width: 70px;
    height: 30px;
    border-radius: 20px;
}

.quiz-select{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-select-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    grid-gap:100px;
    height: 10vh;
    font-size: x-large;
    text-align: center;


}

.option{   
    padding: 10px;
    width: 20vh;
    height: 100px;
    gap: 10px;
    font-size: large;
    background-color: #4fb553;
    border-radius: 20px;

    border-color: #4fb553;
}





/* END OF MISC CODING */









/* END OF STYLING CODING */